* {
  box-sizing: border-box;
  text-align: center;
}

header {
	background: #ebebeb;
	padding: 20px;
	margin-bottom: 10px;
	color: #777777;
}
nav {
	background: #ebebeb;
	padding: 20px;
	margin-bottom: 20px;
	color: #777777;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 960px;
	font-size: 18px;
	line-height: 25px;
	color: #777;
	margin-left: 100px;
	background-color: #777777;
}
#section {
	display: inline-block;
	width:400px;
	background: #ebebeb;
	padding: 25px;
	color: #777;

}
#aside {
	display: inline-block;
	width:400px;
	height: 75px;
	background: #ebebeb;
	padding: 125px;
	color: #777;
	float:right;
}

/*
.parts {
	width: 445px;
	height: 80px;
	background: #ccc;
	margin: 10px 30px 10px 10px;
	padding-top: 10px;
	color: #777777;
}
*/

#article {
	width: 495px;
	height: 75px;
	color:#ebebeb;
	margin: 10px 30px 10px 15px;
	padding-top: 10px;
}
#article2 {
    width: 495px;
	height: 55px;
	background: #ebebeb;
	margin: 10px 30px 10px 15px;
	padding-top: 10px;
}

#p1 {
	width: 495px;
	height: 55px;
	background: #ebebeb;
	margin: 10px 30px 10px 15px;
	padding-top: 10px;
	color: #777;
}
#footer1{
	clear: both;
	background: #ebebeb;
	padding: 20px;
	color: #333;
	color: #777777;
}


